.wheaterProject {
  max-width: 650px;
  height: 430px;
  background: #1b262c;
  border-radius: 10px;
  margin: 0 auto;
  top: 80px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #bbe1fa;
  box-shadow: 10px 10px 25px 0px rgba(168, 163, 168, 1);
}

form {
  position: absolute;
  top: 10px;
}

button {
  color: #bbe1fa;
  background: none;
  border: none;
}

.currentButton {
  position: relative;
  top: 10px;
  left: -20px;
  line-height: 1.5;
  border: solid 2px #bbe1fa;
  border-radius: 4px;
  width: 43%;
  transition: 200ms all ease-in-out;
}

.currentButton:hover {
  background-color: #bbe1fa;
}

#description {
  display: block;
  margin: 0 0 5px 0px;
  color: #3282b8;
}

#description:first-letter {
  text-transform: capitalize;
}

#current-time,
#current-date {
  display: inline;
  position: relative;

  font-size: 20px;
}
#current-time {
  color: #3282b8;
}

.currentCityTemperature {
  position: relative;
  display: inline-flex;

  font-size: 45px;
  line-height: 60px;
}

#temperature {
  position: relative;
  left: 10px;
}

#icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #3282b8;
  animation: example linear 2s infinite alternate;
}

@keyframes example {
  from {
    color: #3282b8;
  }
  to {
    color: #bbe1fa;
  }
}

#celcius {
  position: relative;
  left: -3px;
  top: 20px;
  background: none;
  border: none;
  color: #bbe1fa;
}

.forwardSlash {
  position: relative;
  top: 21px;
  left: -185px;
}

#fahrenheit {
  position: relative;
  top: 20px;
  right: 394px;
}

.col-2 {
  border: 2px solid #bbe1fa;
  border-radius: 10px;
  text-align: center;
  line-height: 90px;
  font-size: 25px;
  margin: 10px;
  position: absolute;
  padding: 15px 0 15px 0;
  transition: 200ms all ease-in-out;
}

.col-2:hover {
  transform: scale(1.05);
}

#forecast {
  position: relative;
  bottom: 15px;
  top: 20px;
  width: 640px;
  left: 5px;
}

.unit {
  position: relative;
  left: 10px;
}

a {
  position: relative;
  top: 35px;
}

.forecast-icons:hover {
  color: #3282b8;
  transform: scale(1.05);
}
.forecast-icons {
  transition: 200ms all ease-in;
}
